# SPDX-License-Identifier: EPL-2.0 OR GPL-2.0-or-later
# SPDX-FileCopyrightText: Contributors To The `net.splitcells.*` Projects
#### antlr4
/gen/
### Intellji
*.iml
.idea/
.asciidoctorconfig.adoc
projects/net.splitcells.dem/src/main/antlr4/net/splitcells/dem/source/code/Java11Lexer.tokens
### Eclipse
.settings/
.classpath
.project
### Maven ###
target/
.flattened-pom.xml
# mvn wrapper:wrapper created files are ignored, as these are created on the fly via `mvn wrapper:wrapper -Dmaven=3.9.9`.
.mvn/
mvnw
mvnw.cmd
mvn
### Python
.pydevproject

.vagrant/
# Log files created by Java crash dumps. Folders ending with `.log` are not ignored.
*.log
!*.log/

# This dependency file is placed in the source code, so that it is available in developer mode for the webserver.
projects/net.splitcells.website.content.default/src/main/resources/html/net/splitcells/website/js/jquery.js