# SPDX-License-Identifier: EPL-2.0 OR GPL-2.0-or-later
# SPDX-FileCopyrightText: Contributors To The `net.splitcells.*` Projects
#### antlr4
/gen/
### Intellji
*.iml
.idea/
.asciidoctorconfig.adoc
projects/net.splitcells.dem/src/main/antlr4/net/splitcells/dem/source/code/Java11Lexer.tokens
### Eclipse
.settings/
.classpath
.project
### Maven ###
target/
### Python
.pydevproject

.vagrant/
# The following is created by Maven during bild.
.flattened-pom.xml