/* SPDX-License-Identifier: EPL-2.0 OR GPL-2.0-or-later
 * SPDX-FileCopyrightText: Contributors To The `net.splitcells.*` Projects
 */
.rightDecoration {
    display: none;
    visibility: hidden;
    }
@media (min-width: 53.25em) and (min-width: 59em) {
    /* When only 2 columns are visible at any height,
     * the meta column is only bound by the width of its parent.
     */
    .column_1 {
        width: 100%;
        }
    }
@media (min-width: 99em) {
    .column_1 {
        width: 30em !important;
        flex-grow: 0;
        }
    }
@media (min-width: 99em) {
    .net-splitcells-content-column {
        flex-grow: 1;
        /* When 3 columns are visible at any height, than this prevents,
         * that a growing element inside the content column (like the Codemirror text editor)
         * grows the content column bigger than its parent.
         */
        width: calc(100% - 13.5em - 30em) !important;
        width: inherit !important;
        }
    }
    .net-splitcells-content-main {
        flex-grow: 1;
        
        }
@media (max-width: 73.25em) {
    .column_1 {
        width: 100% !important;
        flex-grow: 0;
        }
    }
@media (min-width: 59em) and (max-width: 99em) {
    .net-splitcells-content-main {
        flex-grow: 1;
        width: auto !important;
        }
    .net-splitcells-content-column {
        flex-grow: 1;
        max-width: calc(100% - 13.5em) !important;
    }
}