/* SPDX-License-Identifier: EPL-2.0 OR GPL-2.0-or-later
 * SPDX-FileCopyrightText: Contributors To The `net.splitcells.*` Projects
 */
.net-splitcells-content-column {
    flex-grow: 1 !important;
    /* Hidden overflow is required for CodeMirror's text editor:
     * when it is located inside the content column and full screen mode is activated,
     * the hidden overflow prevents the text editor growing larger than the content column.
     */
    overflow: hidden;
}
.net-splitcells-content-main {
    width: 100% !important;
    flex: 1;
}
.column_1 {
	width: inherit !important;
}
