@charset "UTF-8";
/* SPDX-License-Identifier: EPL-2.0 OR GPL-2.0-or-later
 * SPDX-FileCopyrightText: Contributors To The `net.splitcells.*` Projects
 */
/* Sorted from smallest to biggest widths in media queries. */
html {
    overflow-wrap: break-word;
    box-sizing: border-box; /* Padding and borders are part of width. */
}
main {
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
}
footer {
    flex: auto;
    min-height: 5em;
    z-index: 3;
}
.net-splitcells-content-column-left-border {
    order: 3;
    }
.net-splitcells-content-column {
    order: 4;
	flex-direction: column;
	display: flex;
    }
.net-splitcells-meta-column-left-border {
    order: 5;
    }
.net-splitcells-meta-column {
    order: 6;
    }
.net-splitcells-website-column-background-1 {
    order: 1;
}
.net-splitcells-right-decoration-left-border {
    order: 7;
    }
.splitcells-net-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 2em;
	}
.menu h3 {
    padding-left: .25em;
	}
.net-splitcells-content-main {
    display: flex;
    flex-direction: row;
    }
.column_1 {
    display: flex;
    flex-direction: row;
    }
.rightDecoration {
	width: 4.5em;
	display: flex;
	flex-direction: row;
	z-index: 2;
	order: 8;
	}
@media (max-width: 23.25em) {
	.net-splitcells-content-filler {
		visibility: hidden;
		display: none;
		}
	}
@media (max-width: 23.25em) {
    .change_menu_logo {
        visibility: hidden !important;
        display: none !important;
        }
    .optional {
    	/* TOREMOVE This is replaces by minimal-only. */
        visibility: hidden !important;
        display: none !important;
        }
    }
@media (max-width: 30em) {
    /* Only one column is visible at one height. */
    main {
        width: 100% !important;
    }
    .optional {
        visibility: hidden !important;
        display: none !important;
        }
    .main {
        background-image: none;
        }
    .MainButton_S {
        line-height: 2em !important;
        }
    .HeaderButton {
        line-height: 2em !important;
        }
    .change_menu_content {
        font-size: 1em !important;
        }
    .title_structural_guide {
        visibility: hidden !important;
        display: none !important;
        }
    .net-splitcells-structural-guide-optional {
        visibility: hidden !important;
        display: none !important;
        }
    .title_logo {
        visibility: hidden !important;
        display: none !important;
        }
    .header {
        z-index: 4 !important;
        }
    .net-splitcells-content-main {
        width: 100% !important;
        }
    .column_1 {
            width: 100%;
            }
    .content {
        padding-left: .25em !important;
        }
    .section_gallery,
    .change_menu_visibility {
        visibility: visible !important;
        display: block !important;
        font-size: 1.5em;
        }
    }
@media (min-width: 53.25em) {
    .minimal-only {
        display: none;
        visibility: hidden;
        }
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        visibility: inherit;
        z-index: 1;
        }
    .net-splitcells-content-column {
        /* When 2 columns are visible at any height, than this prevents,
         * that a growing element inside the content column (like the Codemirror text editor)
         * grows the content column bigger than its parent.
         */
        max-width: calc(100% - 13.5em);
        }
    .menu {
        width: 13em;
        /* min/max-width is needed, when `/net/splitcells/website/css/layout.column.main.fullscreen.css` is active,
           as otherwise the menu gets smaller. */
        min-width: 13em;
        max-width: 13em;
        }
    }
@media (max-width: 53.25em) {
    /* Only the window menu and one additional column are visible at any height of the document. */
	.net-splitcells-minimal-not {
		display: none !important;
        visibility: hidden !important;
    	}
    }
/* TODO This query is broken. */
@media (max-width: 53.25em) {
    /* Only the window menu and one additional column are visible at any height of the document. */
	.net-splitcells-minimal-not {
		display: none !important;
        visibility: hidden !important;
    	}
    .main {
        background-image: none;
        }
    .MainButton_S {
        line-height: 2em !important;
        }
    .HeaderButton {
        line-height: 2em !important;
        }
    .title_logo {
        visibility: hidden !important;
        display: none !important;
    }
    .header {
        z-index: 4 !important;
        }
    .change_menu_content {
        font-size: 1em !important;
        }
    .change_menu_visibility {
        visibility: visible !important;
        display: block !important;
        }
    .rightDecoration {
        visibility: hidden !important;
        display: none !important;
        }
    .net-splitcells-content-main {
        width: 100%;
        }
    .column_1 {
        width: 100%;
        }
    .section_gallery {
        visibility: hidden !important;
        display: none !important;
        }
    main {
        width: 100% !important;
        }
    .change_menu_visibility {
        visibility: visible;/*!important*/
        display: block;/*!important*/
        font-size: 1.375em;
        }
    main {
        font-size: 1em;
        }
    .net-splitcells-structural-guide-optional {
        visibility: hidden !important;
        display: none !important;
        }
    }
@media (max-width: 59em) {
    .net-splitcells-website-content-column {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            }
	.net-splitcells-content-main {
		width: 100%;
		}
	.column_1 {
    	width: 100%;
    	}
	}
@media (min-width: 59em) {
    .net-website-content-column {
        display: flex;
        flex-direction: column;
        }
    .net-splitcells-content-main {
        width: var(--column-standard-width);
        }
    .column_1 {
        width: var(--column-standard-width);
        flex: 1;
        }
    }
@media (max-width: 59em) and (min-width: 53.25em) {
    /* TODO (max-width: 59em) should be (max-width: 57.5em) but is not working.*/
    .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
    .rightDecoration {
        visibility: hidden !important;
        display: none !important;
        }
    .rightDecoration {
        visibility: hidden !important;
        display: none !important;
        }
    }
@media (min-width: 99em) {
    .net-splitcells-vertical-columns-only {
        display: none;
        visibility: hidden;
        }
	.net-splitcells-content-column {
        display: flex;
        flex-direction: row;
        }
    }
@media (min-width: 99em) and (max-width: 102.5em) {
    /* 137.5 = 13+ .25+40 +.25+40 + .25+40em */
    /*(max-width: 99em) should be (max-width: 97.5em) but is not working.*/
    /*(min-width: 94.5em) should be (min-width: 93em) but is not working.*/
    .rightDecoration {
        display: none !important;
        }
    .rightDecoration {
        display: none !important;
        }
    }