@charset "UTF-8";
/* SPDX-License-Identifier: EPL-2.0 OR GPL-2.0-or-later
 * SPDX-FileCopyrightText: Contributors To The `net.splitcells.*` Projects
 *
 * TODO This should be the generic no-code style and not specific to Gel's UI.
 */
.net-splitcells-gel-ui-editor-no-code-pop-up {
    position: absolute;
    background-color: var(--background-color-selected-priority-0);
    z-index: 8;
    padding-bottom: 1em;
    font-family: var(--text-font-family);
    border-radius: var(--border-radius-for-actions);
    border: 0.125em solid var(--background-color-priority-4);
    box-shadow: 0em 0.1em .2em var(--shadow-color-structural-guide);
    left: 1em;
}
.net-splitcells-gel-ui-editor-no-code-pop-up input {
    width: 100%;
}
.net-splitcells-no-code-help-title {
    background-color: var(--background-color-priority-1);
    font-weight: normal;
    display: flex;
    flex-direction: row;
}
.net-splitcells-no-code-action-menu-title {
    background-color: var(--background-color-priority-1);
    font-weight: normal;
    display: flex;
    flex-direction: row;
}
.net-splitcells-no-code-action-menu-title-name {
    flex-grow: 1;
    padding-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 125%;
    padding-right: 1em;
    white-space: nowrap;
}
.net-splitcells-no-code-action-menu-close:hover {
    border-radius: 0 .125em 0 0;
    width: 2em;
}
.net-splitcells-no-code-action-menu-close {
    border-radius: 0 .125em 0 0;
    font-size: 125%;
    line-height: 2em;
    width: 2em;
    color: var(--foreground-color-priority-2);
}
.net-splitcells-no-code-help-close:hover {
    border-radius: 0 .125em 0 0;
    width: 2em;
}
.net-splitcells-no-code-help-close {
    border-radius: 0 .125em 0 0;
    font-size: 125%;
    line-height: 2em;
    width: 2em;
    color: var(--foreground-color-priority-2);
}
.net-splitcells-no-code-help-title-name {
    flex-grow: 1;
    padding-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 125%;
    padding-right: 1em;
    white-space: nowrap;
}
.net-splitcells-gel-ui-editor-no-code-pop-up-iframe {
    width: 40em;
    height: 40em;
}
.net-splitcells-dem-lang-perspective-no-code-action-button {
    padding-right: .1em;
    padding-left: .1em;
    position: relative;
    display: inline-block;
}
.net-splitcells-dem-lang-perspective-no-code-action-menu {
    position: absolute;
    background-color: var(--background-color-selected-priority-0);
    z-index: 7;
    padding-bottom: 1em;
    /* Ensure, that the title is not longer than the menu. */
    min-width: 15em;
    font-family: var(--text-font-family);
    border-radius: var(--border-radius-for-actions);
    border: 0.125em solid var(--background-color-priority-4);
    box-shadow: 0em 0.1em .2em var(--shadow-color-structural-guide);
}
.net-splitcells-dem-lang-perspective-no-code-action-menu ol {
    padding-left: .1em;
}
.net-splitcells-dem-lang-perspective-no-code-action-menu li {
    border-left: none;
    padding-left: 1em;
}
.net-splitcells-dem-lang-perspective-no-code-action-menu li:last-child::before {
    border-left: none;
}
.net-splitcells-dem-lang-perspective-no-code-action-menu li:before {
    width: 0em;
}
.net-splitcells-dem-lang-perspective-no-code-action-menu h1 {
    margin-top: 0em;
    margin-bottom: 1em;
    background-color: var(--background-color-priority-0);
}
.net-splitcells-dem-lang-perspective-no-code-function-call-name:after {
    content: " (";
    font-family: var(--no-code-text-font-family);
    font-weight: normal;
}
.net-splitcells-dem-lang-perspective-no-code-function-call-argument:last-child:after {
    content: ")";
    font-family: var(--no-code-text-font-family);
    font-weight: normal;
}
.net-splitcells-dem-lang-perspective-no-code-function-call-argument:not(:last-child):after {
    content: ",";
    font-family: var(--no-code-text-font-family);
    font-weight: normal;
}
.net-splitcells-dem-lang-perspective-no-code-function-call .net-splitcells-dem-lang-perspective-no-code-function-call:before {
    content: ""
}
.net-splitcells-dem-lang-perspective-no-code-function-call .net-splitcells-dem-lang-perspective-no-code-function-call {
    display: inline;
    margin-left: 0em;
}
.net-splitcells-dem-lang-perspective-no-code-function-call {
    display: block;
    margin-left: 3em;
}
.net-splitcells-dem-lang-perspective-no-code-function-call:before {
    content: "- ";
    font-family: var(--no-code-text-font-family);
    font-weight: normal;
}
.net-splitcells-dem-lang-perspective-no-code-action-menu > .net-splitcells-action-button {
    text-align: left !important;
    padding-left: 1em;
}

.net-splitcells-dem-lang-perspective-no-code-literal:before {
    content: '„';
}
.net-splitcells-dem-lang-perspective-no-code-literal {
    font-style: italic;
}
.net-splitcells-dem-lang-perspective-no-code-literal:after {
    content: '“';
}
.net-splitcells-dem-lang-perspective-no-code-variable-name:hover
,.net-splitcells-dem-lang-perspective-no-code-function-call-name:hover
,.net-splitcells-dem-lang-perspective-no-code-variable-reference:hover
,.net-splitcells-dem-lang-perspective-no-code-literal:hover
,.net-splitcells-dem-lang-perspective-no-code-undefined:hover
,.net-splitcells-dem-lang-perspective-no-code-var-arg:hover
,.net-splitcells-no-code-update-subject
{
    font-weight: bolder;
    font-family: var(--text-font-family);
    background-color: var(--background-color-activity);
    border-radius: var(--border-radius-for-actions);
    padding: .2em;
    box-shadow: .1em .1em .1em var(--shadow-color-priority-1);
}
.net-splitcells-dem-lang-perspective-no-code-variable-access .net-splitcells-dem-lang-perspective-no-code-variable-reference:after {
    content: " :";
}
.net-splitcells-dem-lang-perspective-no-code-function-call .net-splitcells-dem-lang-perspective-no-code-variable-reference:after {
    content: "";
}
.net-splitcells-dem-lang-perspective-no-code-variable-name:after {
    content: " =";
    font-family: var(--no-code-text-font-family);
    font-weight: normal;
}
.net-splitcells-dem-lang-perspective-no-code-lang {
    font-family: var(--no-code-text-font-family);
    margin: 0em;
    padding-left: .1em;
}
.net-splitcells-dem-lang-perspective-no-code-lang li {
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    padding-top: .25em;
    padding-bottom: .25em;
}