# SPDX-License-Identifier: EPL-2.0 OR MIT
# SPDX-FileCopyrightText: Contributors To The `net.splitcells.*` Projects
### Intellji
*.iml
.idea/
### Eclipse
.settings/
.classpath
.project
### Maven ###
target/
### Python
.pydevproject

