name: Continuous Integration
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  # This workflow contains a single job called "build"
  # Note: "uses" without a version do not work.
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
        language: [ 'java']
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: '21'
          java-package: 'jdk'
      - name: Cache Maven packages.
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - uses: actions/checkout@master
        with:
          repository: www-splitcells-net/net.splitcells.network.bom.base
          path: net.splitcells.network.bom.base
      - name: Build base BOM.
        run: |
          cd $GITHUB_WORKSPACE/net.splitcells.network.bom.base
          mvn install
      - uses: actions/checkout@main
        with:
          repository: www-splitcells-net/net.splitcells.network.bom
          path: net.splitcells.network.bom
      - name: Build BOM.
        run: |
          cd $GITHUB_WORKSPACE/net.splitcells.network.bom
          mvn install
      - uses: actions/checkout@main
        with:
          path: net.splitcells.network
      - name: Build project.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        run: |
          cd $GITHUB_WORKSPACE/net.splitcells.network
          # ". bin/env.setup.sh" is not used, as this causes problems in GitHub.
          mvn wrapper:wrapper -Dmaven=3.9.9
          export PATH="$(realpath ./):$PATH"
          echo "$(pwd)/mvnw \$@" > mvn
          chmod +x mvn
          mvn -B clean install